@import '../utility/index';
* { 
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
    @include color-match('main') {}
}

input {
    @include color-match('snip') {}
}

button, input:not([type='text']) {
    display: block;
    padding: 0.1em 0.4em;
    margin: 1em auto;
    @include color-match('button') {}
}

span {
    @include color-match('snip') {}
}

li {
    list-style-type: none;
    flex-grow: 1;
}

.wrapper {
    width: 90%;
    flex: 1;
    margin: auto;
}