@import '../utility/index';

/*All*/

#game-desc {
    text-align: center;
    margin: auto;
}

/*Glad Libs*/

#story-options, #form-options {
    padding: 0;
    margin: 0;
    @include media-query('md') {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    & > li {
        flex: 1 1 25%;
        @include color-match('button') {}
    }
}

.form-choice {
    margin: 0.4em;
    @include media-query('md') {
        flex: 1;
    }
}

/*Glad Scribe*/

.word-type-choice {
    margin: 0.1em auto;
    
}

/*Wheel of Hanged Men*/



#phrase-display {
    direction: row;
    align-content: center; 
}

.letter-print {
    display: inline-block;
    margin: 0.2em;
    & >  p {
        width: 20px;
        height: 20px;
        display: none;
    }
}

.shown p {
    display: block;
    @include color-match('snip') {}
}

#letter-keys {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.letter {
    width: 36px;
    height: 36px;
    &:disabled {
        background-color: $fourth-color;
    }
}
