@import '../utility/index';

#play {
    display: block;
    margin: auto;
}

#form-options {
    padding: 0;
    margin: 0;
    @include media-query('md') {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}

.form-choice {
    @include media-query('md') {
        flex: 1;
    }
}

span {
    color: red;
    font-family: 'Darumadrop One', cursive;
}

#letter-keys {
    padding: 0;
    margin: 0;
    @include media-query('md') {
        display: flex;
        justify-content: center;
    }
}

#phrase-display {
    @include media-query('md') {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}

.letter {
    width: 20px;
    height: 20px;
}

.letter-print p {
    width: 20px;
    height: 20px;
    display: none
}

.shown p {
    display: block;
}