@import '../utility/index';

ul, .form-options {
    padding: 0;
    margin: 0;
    @include media-query('md') {
        display: flex;
        justify-content: space-around;
    }
}

.form-options {
    @include media-query('md') {
        flex-wrap: wrap;
    }
}

li {
    list-style-type: none; 
    text-align: center;
    border: 2px $second-color solid;
    @include media-query('md') {
        flex-grow: 1;
    }
}

.form-choice {
    @include media-query('md') {
        flex: 1;
    }
}