@import '../utility/index';

header, footer {
    overflow: auto;
    text-align: center;
    flex: 0 0;
    @include color-match('back') {}
    h1 {
        text-shadow: 5px 5px 4px $second-color;
    }
    ul {
        padding: 0;
        margin: 0;
        @include media-query('md') {
            display: flex;
            justify-content: space-around;
        }
    }
}

a {
    text-decoration: none;
    display: block;
    padding: auto;
    @include color-match('link') {}
}